﻿
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hamburger -->

<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
    <div class="hamburger">
        <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
            <span>menu</span>
            <div class="hamburger_container">
                <div class="menu_hamburger">
                    <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                    <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
                    <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu -->
<div class="menu trans_800">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about us</a></li>
            <li><a href="menu.html">menu</a></li>
            <li><a href="#">delivery</a></li>
            <li><a href="blog.html">blog</a></li>
            <li><a href="contact.html">contact</a></li>
        </ul>
    </div>
    <div class="menu_reservations_phone ml-auto">Reservations: +34 586 778 8892</div>
</div>

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/home.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_subtitle page_subtitle">The Venue is</div>
                        <div class="home_title"><h1>An Extraordinery Experience</h1></div>
                        <div class="home_text ml-auto mr-auto">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll_icon"></div>
</div>
<!-- Intro -->
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_content">
                    <div class="intro_subtitle page_subtitle">Something new</div>
                    <div class="intro_title"><h2>An Extraordinery Experience</h2></div>
                    <div class="intro_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Ut non justo eleifend, facilisis nibh ut, interdum odio. Suspendisse potenti. Vivamus luctus diam eu neque rutrum, vitae aliquet dolor venenatis. Nulla consequat fringilla massa.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-md-6 intro_col">
                        <div class="intro_image"><img src="images/intro_1.jpg" alt="https://unsplash.com/quanle2819"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 intro_col">
                        <div class="intro_image"><img src="images/intro_2.jpg" alt="https://unsplash.com/fabmag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<!-- Video -->
<div class="video_section">
    <div class="background_image" style="background-image:url(images/video.jpg)"></div>
    <div class="video_section_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="video_section_title">Food for the soul</div>
        <div class="video_section_icon"><a class="vimeo video_button" href="https://player.vimeo.com/video/99340873?autoplay=1&loop=1&title=0&autopause=0"><i class="fa fa-play" aria-hidden="true"></i></a></div>
    </div>
</div>
<!-- Signature Dish -->
<div class="sig">
    <div class="sig_content_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sig_content">
                        <div class="sig_subtitle page_subtitle">Something new</div>
                        <div class="sig_title"><h1>Our Signature Dish</h1></div>
                        <div class="rating_r sig_rating rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
                        <div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
                            <div class="sig_name">Pork Tenderloin marinated in Green Pepper</div>
                            <div class="sig_price ml-auto">$20</div>
                        </div>
                        <div class="sig_content_list">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li>Pork</li>
                                <li>Tenderloin</li>
                                <li>Green Pepper</li>
                                <li>Veggies</li>
                            </ul>
                        </div>
                        <div class="button sig_button trans_200"><a href="#">Order Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sig_image_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-5">
                    <div class="sig_image">
                        <div class="background_image" style="background-image:url(images/sig.jpg)"></div>
                        <img src="images/sig.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- The Menu -->
<div class="themenu">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="themenu_title_bar_container">
                    <div class="themenu_stars text-center page_subtitle">ΘΑΝΑΣΗΣ</div>
                    @*<div class="themenu_rating text-center">
                        <div class="rating_r rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
                    </div>*@
                    <div class="themenu_title_bar d-flex flex-column align-items-center justify-content-center">
                        <div class="themenu_title">ΤΟ ΜΕΝΟΥ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row themenu_row">
            <!-- Starters -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_col">
                    <div class="themenu_col_title">ΟΡΕΚΤΙΚΑ</div>
                    <div class="dish_list">
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Pork Tenderloin in Green Pepper</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Shrimp with Garlic</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Wild Mushroom with Chicken</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Oysters with Baked Potatoes</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Roast Pork</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_col">
                    <div class="themenu_col_title">ΣΑΛΑΤΕΣ</div>
                    <div class="dish_list">

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Chicken with Lemon</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Pork Tenderloin in Green Pepper</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Shrimp with Garlic</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Wild Mushroom with Chicken</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Oysters with Baked Potatoes</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Roast Pork</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Deserts -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_col">
                    <div class="themenu_col_title">ΤΗΣ ΩΡΑΣ</div>
                    <div class="dish_list">
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Lava Cake</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Orange Tart</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Cheese Cake</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Chocolatte Mausse</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Ice Cream</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservations -->
<div class="reservations text-center">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/reservations.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="reservations_content d-flex flex-column align-items-center justify-content-center">
                    @*<div class="res_stars page_subtitle">5 Stars</div>*@
                    <div class="res_title">ΚΡΑΤΗΣΗ</div>
                    <div class="res_form_container">
                        <form method="post" asp-action="SendReservationInfo" asp-controller="Home" id="res_form" class="res_form">
                            <div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">
                                <input name="name" type="text" class="res_input" required="required" placeholder="Name">
                                <input name="phone" type="text" class="res_input" required="required" placeholder="Telephone">
                                <input name="date" type="text" id="datepicker" class="res_input" required="required">
                                <input name="time" type="text" class="res_input timepicker" required="required">
                                <select name="numberOfPersons" class="res_select">
                                    <option disabled="" selected="" value="2">2 ΑΤΟΜΑ</option>
                                    <option value="3">3 ΑΤΟΜΑ</option>
                                    <option value="4">4 ΑΤΟΜΑ</option>
                                    <option value="5">5 ΑΤΟΜΑ</option>
                                    <option value="6">6 ΑΤΟΜΑ</option>
                                    <option value="7">7 ΑΤΟΜΑ</option>
                                    <option value="8">8 ΑΤΟΜΑ</option>
                                    <option value="9">9 ΑΤΟΜΑ</option>
                                    <option value="10">10 ΑΤΟΜΑ</option>
                                    <option value="11">11 ΑΤΟΜΑ</option>
                                    <option value="12">12 ΑΤΟΜΑ</option>
                                </select>

                            </div>
                            <button type="submit" class="res_button">ΟΛΟΚΛΗΡΩΣΗ ΚΡΑΤΗΣΗΣ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

