﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ταβέρνα "Ο Θανάσης"</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The Venue template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link href="plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="plugins/jquery-timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">
</head>
<body>
    <div class="super_container">

        <!-- Header -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo">
                                <a href="#">
                                    <h3 id="logoHeading" >ΤΑΒΕΡΝΑ "Ο ΘΑΝΑΣΗΣ"</h3>
                                </a>
                            </div>
                            <nav class="main_nav">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li><a href="index.html">ΑΡΧΙΚΗ</a></li>
                                    <li><a href="about.html">ΓΙΑ ΕΜΑΣ</a></li>
                                    <li><a href="menu.html">ΜΕΝΟΥ</a></li>
                                    <li><a href="contact.html">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
                                </ul>
                            </nav>
                            <div class="reservations_phone ml-auto">ΚΡΑΤΗΣΕΙΣ: 21055 51052</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--RenderBody-->
        @RenderBody()
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <!-- Footer Logo -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_logo">
                            <div class="footer_logo_title">"Ο Θανάσης"</div>
                            <div class="footer_logo_subtitle"></div>
                        </div>
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p style="line-height: 1.2;">Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                        </div>
                    </div>
                    <!-- Footer About -->
                    <div class="col-lg-6 footer_col">
                        <div class="footer_about">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Ut non justo eleifend, facilisis nibh ut, interdum odio.</p>
                        </div>
                    </div>
                    <!-- Footer Contact -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_contact">
                            <ul>
                                <li class="d-flex flex-row align-items-start justify-content-start">
                                    <div class="footer_contact_text">ΘΡΙΑΣΙΟΥ ΠΕΔΙΟΥ & ΑΡΤΕΜΙΔΟΣ</div>
                                </li>
                                <li class="d-flex flex-row align-items-start justify-content-start">
                                    <div class="footer_contact_text"> ΜΑΓΟΥΛΑ ΕΛΕΥΣΙΝΟΣ 196 00 </div>
                                </li>
                                <li class="d-flex flex-row align-items-start justify-content-start">
                                    @*<div><div class="footer_contact_title">EMAIL:</div></div>*@
                                    <div class="footer_contact_text">yourmail@gmail</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap-4.1.2/popper.js"></script>
    <script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="plugins/jquery-datepicker/jquery-ui.js"></script>
    <script src="plugins/jquery-timepicker/jquery.timepicker.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
